html, body {
    height: 100%;
    width: 100%;
}

div.map {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 6%;
    bottom: 5%;

    height: 89%;
    width: 100%;

    z-index: 1;

    /*background-color: green;*/
}

div.connections {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    bottom: 0;

    height: 100%;
    width: 100%;

    z-index: 100;
    /*background-color: red;*/
}

div.info {
    z-index: 500;
}

div.hidden {
    display: none;
}

div.centerV {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
}

div.centerH {
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}

div.fixed {
    position: fixed;
}

div.left {
    margin: auto;
    position: absolute;
    left: 0;

    /*background-color: red;*/
}

div.deviceHover {
    width: 100px;
    height: 100px; /*changed in jquery*/

    margin: auto;
    position: absolute;
    text-align: center;
    z-index: 400;
    background: url("../images/shadow.png") no-repeat center bottom;
    background-size: 100% 35%;
}

div.device {
    width: 100px;
    height: 100px; /*changed in jquery*/

    margin: auto;
    position: absolute;
    text-align: center;

    z-index: 500;

    background: none;
    /*background-color: red;*/
}

div.switch {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 2%;
    margin-right: 2%;
    z-index: 500;
}

.deviceBack {
    background-color: #809EB2;

    font-size: 0.6vw;
}

img.device {
    margin: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;

    height: 70%;
}

table.center {
    width: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: none;

    font-size: 1.1vw;

    /*background-color: green;*/
}

th.center {
    text-align: center;
    padding-bottom: 4%;

    font-size: 1.7vw;
}

td.center {
    text-align: center;
    padding-top: 2%;
}

td.right {
    text-align: right;
    width: 50%;
    padding-right: 1%;
}

td.left {
    text-align: left;
    width: 50%;
    padding-left: 1%;
}

button.leftButton {
    width: 70px;
    border-radius: 15px 0 0 15px;
    border: 0;
    padding: 0;
}

button.middleButton {
    width: 70px;
    border-radius: 0;
    border: 0;
    padding: 0;
}

button.rightButton {
    width: 70px;
    border-radius: 0 15px 15px 0;
    border: 0;
    padding: 0;
}

button.myButton {
    border-radius: 15px;
    width: 220px;
    border: 0;
    padding: 0;
}

