{% extends master %}
{% load staticfiles %}

{% block headers %}

    <link rel="stylesheet" href="{% static 'css/map.css' %}"/>
{% endblock %}

{% block content %}

<div class="row container">
    <div id="map" class="span12 container">
        {% for device in devices %}
            <div id="info_{{ device }}" class="center">
                Id: {{ device }}

                <br>

                Name: {{ device }}

                <br>

                MAC Adress: {{ device }}

                <br>

                IP Adress: {{ device }}

                <br>
            </div>
        {% endfor %}
    </div>
</div>


<script type="text/javascript">
    var n = {{ devices|length }};
    var teta = 2 * Math.PI / n;

    var $map = $("#map");
    var radius = $map.height() * 0.8;

    var $lastInfo;

    $(document).ready(loadMap());

    function loadMap() {
        //set info div size

        {% for device in devices %}
            var $info_{{ device }} = $("#info_{{ device }}");

            $info_{{ device }}.width(radius / 2);
            $info_{{ device }}.height(radius / 2);

            var $figure_{{ device }} = $('<figure>', {
                "id": "pc_{{ device }}",
                "class": "center",
                "width": "110",
                "height": "110" });
            var $img_{{ device }} = $('<img>', {
                "width": "90%",
                "height": "90%",
                "src": "{% static 'images/pc_green.png' %}"});
            var $cap_{{ device }} = $('<figcaption>');
            $cap_{{ device }}.appendText("{{ device }}");

            $figure_{{ device }}.append($cap_{{ device }});
            $figure_{{ device }}.append($img_{{ device }});
            $map.append($figure_{{ device }});

{#            $figure_{{ device }}.hover(function () {#}
{#                if($lastInfo) $lastInfo.hide();#}
{#                $lastInfo = $info_{{ device }};#}
{#                $info_{{ device }}.show();#}
{#            });#}
{##}
{#            $figure_{{ device }}.animate({#}
{#                "left": "+=" + (radius * Math.sin(teta * {{ forloop.counter0 }})).toString(),#}
{#                "bottom": "+=" + (radius * Math.cos(teta * {{ forloop.counter0 }})).toString()#}
{#            }, 1500, "linear");#}

        {% endfor %}
    }
</script>
{% endblock %}