{% extends master_scrud %}

{% block pageTitle %}User{% endblock %}

{% block show_all %}
    <br><br><br>

    <table class="colVis table">
        <thead class="bg-gray">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Login</th>
            <th>Email</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for u in users %}
            <tr>
                <td>{{ u.first_name }}</td>
                <td>{{ u.last_name }}</td>
                <td>{{ u.username }}</td>
                <td>{{ u.email }}</td>
                <td>
                    <button class="btn btn-success"><a href="{% url 'user' u.id %}" style="color: white;">Edit</a></button>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td><a href="{% url 'user' %}">New...</a></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
{% endblock %}

{% block scrud %}

    <br><br><br><br>

    {{ error_message }}

    {% if user_id %}
        <form action="{% url 'user' user_id %}" method="post">
    {% else %}
        <form action="{% url 'user' %}" method="post">
    {% endif %}
            {% csrf_token %}
            <table class="table">
                <tbody>
                    {% for field in form %}
                        <tr>
                            <td>{{ field.label_tag }}</td>
                            <td>{{ field }}</td>
                            <td><strong style="color:red;">{{ field.errors }}</strong></td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td>
                            <button type="submit" class="btn btn-success" style="color: white;">
                                Save
                            </button>
                        </td>
                        <td></td>
                        {% if user_id %}
                            {% if user.is_superuser %}
                                <td>
                                    <button class="btn btn-danger">
                                        <a href="{% url 'user_deactivate' user_id %}" style="color: white;">
                                            Delete
                                        </a>
                                    </button>
                                </td>
                            {% endif %}
                        {% endif %}
                    </tr>
                </tbody>
            </table>
        </form>
{% endblock %}